#info {
    background: #944ce9;
    color: #fff;
    text-align: center;
}

#info .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-pet {
    margin: 20px;
}

.info-pet img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff
}

#info h4{
    font-size: 20px;
}

#info h3{
    font-size: 30px;
}

@media (min-width:450px) {
    .info-pet {
        width: 40%;
    }
}

@media (min-width:1000px) {
    .info-pet {
        width: auto;
    }
}