.noticias-content {
    width: 90%;
    padding: 20px;
    margin: 40px;
    
}

.noticias p {
    font-size: 18px;   
    
}

.noticias h2 {
    font-size: 28px;
    text-align: center; 
    color: #944ce9;  
}

.noticias-content li{
    font-size: 18px;
    color: #944ce9;
}
.noticias-content img {
    width: 90%;
   
}

@media (min-width:1000px){
.noticias-content {
    width: 70%;
}
}